name: Git Action Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 8.x
      uses: actions/setup-node@v1
      with:
        node-version: 8.x
    - name: yarn, build
      run: |
        yarn install
        yarn build --if-present
      env:
        CI: true
